<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_user_roles" name="User Roles" parent="base.menu_users"
                  action="rbac_manager.act_window_res_users_list_user_role" groups="base.group_system"/>
        <menuitem id="menu_user_permissions" name="User Permissions" parent="base.menu_users"
                  action="rbac_manager.act_window_res_users_list_user_permission" groups="base.group_system"/>
        <menuitem id="menu_super_admin" name="Master Permission Control" parent="base.menu_users"
                  action="rbac_manager.act_window_res_users_list_super_admin" groups="base.group_system"/>
        <menuitem id="menu_request_rbac_permission" name="Permission Requests" parent="base.menu_users"
                  action="rbac_manager.request_rbac_permission_act_window" groups="base.group_system"/>
        <!--        <menuitem id="menu_rbac_audit" name="rbac.audit" parent="base.menu_users"-->
        <!--                  action="rbac_manager.rbac_audit_act_window" groups="base.group_system"/>-->
        <!--        <menuitem id="menu_rbac_line_audit" name="rbac.audit.line" parent="base.menu_users"-->
        <!--                  action="rbac_manager.rbac_audit_line_act_window" groups="base.group_system"/>-->
        <menuitem id="menu_client_action_rbac_audit" name="Rbac Audit" parent="base.menu_users"
                  action="rbac_manager.view_audit_client_rbac_audit" groups="base.group_system"/>

        <!--        Inherit       -->
        <record id="base.menu_custom" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>
        </record>
        <record id="base.menu_administration" model="ir.ui.menu">
            <!--            <field name="groups_id" eval="[(6,0, [ref('rbac_manager.permission_group_admin')])]"/>-->
            <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>
        </record>
        <record id="base.menu_action_res_users" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>
            <field name="name">Users</field>
        </record>
        <!--        <record id="base.menu_action_res_users" model="ir.ui.menu">-->
        <!--            <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>-->
        <!--            <field name="name">Groups</field>-->
        <!--        </record>-->
    </data>
</odoo>